body{
    background-color: white;
    font-family: Helvetica, sans-serif;
    white-space: pre-line;
}
h1{
    text-align: center;
    font-size: 150px;
    font-style: italic;
    padding: 0px;
    margin-bottom: 10px;
}
h2{
    text-align: center;
    font-size: 40px;
    font-weight: 20;
    font-style: italic;
    padding: 0px;
    line-height: 0px;
    margin-top: 10px;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gray;
  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}


.sidenav a:hover {
  color: #a4dcf5;
}


  .main {
    margin-left: 160px;
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }